/NetBeans-16/netbeans

/Main/
/Microsoft Visual Studio/
/Eclipse/

/NetBeans-16/Project/Buoi_3/JavaApplication6/nbproject/private/
/NetBeans-16/Project/Buoi_3/JavaApplication6/build/
/NetBeans-16/Project/Buoi_3/BaiTap2/nbproject/private/
/NetBeans-16/Project/Buoi_3/BaiTap2/build/
